@import "../Misc/variables";

@mixin flexCenter($direction: row, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

.body {
  @include flexCenter($direction: column, $justify: flex-start);

  flex-grow: 1;
  width: 100%;
  background-color: $secondary-light;
  transition: 0.5s;

  #{&}__buttons {
    @include flexCenter($justify: space-between);
    width: 100%;
    min-height: fit-content;
    flex-wrap: wrap;
  }
}

.body__theme-Dark {
  background-color: $secondary-dark;
}
