@import "../Misc/variables";

@mixin flexCenter($direction: row, $justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

.button {
  @include flexCenter();

  flex: 1;
  margin: 10px;
  border-radius: 30px;

  border: 1px solid $text-color-light;
  background-color: $primary-light;
  color: $text-color-light;
  transition: 0.5s;

  padding: 10px;
  min-width: 140px;

  &:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: darken($primary-light, 5%);
    transition: 0s;
  }

  &:disabled {
    cursor: default;
    font-weight: 400;
    background-color: lighten($primary-light, 10%);
    border: 1px solid darken($primary-light, 10%);
    color: darken($primary-light, 10%);
  }

  &.button__active {
    border: 1px solid green;
    color: green;
    font-weight: 600;
    background-color: darken($primary-light, 5%);
  }
}

.button__theme-Dark {
  border: 1px solid $text-color-dark;
  background-color: $primary-dark;
  color: $text-color-dark;

  &:hover {
    background-color: darken($primary-dark, 5%);
  }

  &:disabled {
    background-color: lighten($primary-dark, 10%);
    border: 1px solid darken($primary-dark, 10%);
    color: darken($primary-dark, 10%);
  }

  &.button__active {
    border: 1px solid green;
    color: green;
    font-weight: 600;
    background-color: darken($primary-dark, 5%);
  }
}

.button__reset {
  border: 1px solid red;
  color: red;
  font-weight: 600;
}
