.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.up {
  position: relative;
  top: 10px; /*I want this one 100px from the top of .wrapper*/
  height: 20px;
}
.down {
}

.buttons {
  /* display: inline-block; */
  padding-bottom: 10px;
  font-size: 2;
  width: fit-content;
  height: auto;
  display: inline-block;
  text-align: center;
}
