@import "../Misc/variables";

@mixin flexCenter($direction: row, $justify: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
  }

.sorter {
    @include flexCenter($direction: column);
    width: 100%;
    flex: 1;
}