// Light Theme Colors
$primary-light: #dadada;
$secondary-light: #ebebeb;
$text-color-light: #24292E;

// Dark Theme Colors
$primary-dark: #22272E;
$secondary-dark: #2D333B;
$text-color-dark: #CDD9E5;